<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/hobbies">Hobbies</a>
    <h1>My Hobbies</h1>
    <ul>
        <li>Gaming</li>
        <li>Craking</li>
        <li>Searching</li>
        <li>Chess playing</li>
    </ul>
</body>
